@import'helpers/variables';
@import'helpers/mixins';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';
*{
    margin: 0;
    padding: 0;
}

@media screen and(max-width: 768px){
    .my-header{
        .nav-bar{
            ul{
                display: none;
            }
        }
    }
    .colaps-section{
        display: none;
    }
}
