/*header*/
.my-header{
    .nav-bar{
        @include flex(normal, center, normal);
        @include theme(100%, 60px, $bgc, $shadow);
        ul{
            @include flex(normal, normal, normal);
            list-style: none;
            height: 100%;
            li{
                @include flex(normal, center, center);
                height: 100%;
                padding: 0px $nav-li-pdd;
                &:hover{
                    background-color:lighten($bgc, 10%);
                    transition: $nav-hoverT;
                }
                a{
                    @include text($font-color1, none, none, $arimo);                     
                }
            }
        }
        .img-logo{
            @include theme (50px, 50px, none, $shadow);
            border-radius: 50%;
            margin-right:5px; 
            background-image: url('./../img/jon.png');
            background-attachment: initial;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: cover;
            align-self: center;
            position: absolute;
            right: 0;
        }
    }
}